body {
    font-family: $secondary-font;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}
.btn-wc {
    display: block;
    width: 133px;
    height: 56px;
    text-align: center;
    line-height: 56px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 50px;
}