@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
$primary-font: 'Dosis',
sans-serif;
$secondary-font: 'Inria Sans',
sans-serif;
$primary-color: linear-gradient(90deg, #9D70FF 0%, #7460FF 100%);
$secondary-color: linear-gradient(90deg, #1AD5AD 0%, #23D99D 100%);